body {
  background-color: white !important;
  color: black !important;
  font-family: "Manrope" !important;
  padding: 0 !important;
  margin: 0 !important;
}

section {
  display: grid !important;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  padding: 20px;
}

footer {
  display: grid;
  place-items: center;
  align-content: center;
  text-align: center;
  min-height: 15vh;
  padding: 20px;
}

nav {
  overflow: hidden;
  /* position: fixed; 
  top: 0;
  width: 100%; Full width */
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}
body:not(.dark-mode) nav a {
  color: black;
}

#home {
  margin-top: 20px;
}

#map-container {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  transition: margin-left 0.5s ease;
  overflow: hidden;
}

#graphs-container {
  width: 0;
  height: 1420px;
  overflow: hidden;
  transition: width 0.5s ease-in;
  background-color: #353535;
  color: white;
}

.country-specifics {
  padding-left: 20px;
  padding-top: 20px;
}

.selected-country {
  fill: #4682b4;
}
h1 {
  margin-bottom: 10px;
}

h3 {
  margin-top: 5px;
}
h4 {
  font-weight: bold !important;
}

#scrollButton {
  display: hide;
  position: fixed;
  bottom: 40px;
  right: 60px;
  border-radius: 50%;
  border: 1px solid black;
  color: black;
  background-color: white;
  width: 40px;
  height: 40px;
  line-height: 20px;
  font-size: 30px;
  opacity: 0.3;
}

#scrollButton:hover {
  cursor: pointer;
  opacity: 0.8;
}

.footer-link {
  text-decoration: underline;
}

.athlete-bar:hover {
  fill: #485b28;
}

.country-overview-plot:hover {
  fill: #87ceeb;
  opacity: 0.5;
}

.medal-count-label {
  font-size: 14px;
  text-anchor: end;
}

#country-overview {
  padding: 0 20px 20px 20px;
}
#athlete-bar-plot {
  padding: 0 20px 20px 20px;
}

.athlete-bar {
  transition: width 0.5s ease-in-out;
}

#total-medals-bar-plot {
  padding: 0 20px 20px 20px;
}

#country-line-plot {
  padding: 0 20px 20px 20px;
}

#gender-distribution {
  padding: 20px;
}

.dark-mode {
  background-color: #131316 !important;
  color: white !important;
}

hr {
  border: solid white;
  background-color: white;
}
#toggle-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 14px;
  padding-right: 16px;
}

#toggle {
  display: none;
}
#toggle_label {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  margin-left: 12px;
}
#toggle_label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: black;
  border-radius: 50%;
  transition: transform 0.3s;
}
#toggle:checked + label {
  background-color: black;
}
#toggle:checked + label::before {
  transform: translateX(20px);
  background-color: white;
}

#content {
  margin: 0 200px 0 200px;
}
